workflows/multi-agent system/workflow_v1.json
{
    "nodes": [
        {
            "parameters": {},
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                -500,
                -120
            ],
            "id": "d57f226f-2035-4865-8174-fd0b8837bba3",
            "name": "When clicking ‘Execute workflow’"
        },
        {
            "parameters": {
                "jsCode": "return [\n  {\n    id: 1,\n    name: \"Dr. Sarah Johnson\",\n    specialty: \"Dentist\",\n    type: \"General Practice\",\n    location: {\n      address: \"123 Main Street\",\n      city: \"New York\",\n      state: \"NY\",\n      zipCode: \"10001\",\n      coordinates: { lat: 40.7128, lng: -74.006 },\n    },\n    subspecialties: [\"Cosmetic Dentistry\", \"Root Canal Therapy\", \"Oral Surgery\"],\n    certifications: [\"Doctor of Dental Surgery\", \"American Dental Association\", \"CPR Certified\"],\n    yearsExperience: 12,\n    graduated: 2008,\n  },\n  {\n    id: 2,\n    name: \"Dr. Michael Chen\",\n    specialty: \"Optometrist\",\n    type: \"Private Practice\",\n    location: {\n      address: \"456 Oak Avenue\",\n      city: \"Los Angeles\",\n      state: \"CA\",\n      zipCode: \"90210\",\n      coordinates: { lat: 34.0522, lng: -118.2437 },\n    },\n    subspecialties: [\"Contact Lens Fitting\", \"Glaucoma Management\", \"Pediatric Eye Care\"],\n    certifications: [\"Doctor of Optometry\", \"American Optometric Association\", \"Therapeutic Pharmaceutical Agent Certification\"],\n    yearsExperience: 15,\n    graduated: 2005,\n  },\n  {\n    id: 3,\n    name: \"Dr. Emily Rodriguez\",\n    specialty: \"Dermatologist\",\n    type: \"Medical Specialist\",\n    location: {\n      address: \"789 Pine Road\",\n      city: \"Chicago\",\n      state: \"IL\",\n      zipCode: \"60601\",\n      coordinates: { lat: 41.8781, lng: -87.6298 },\n    },\n    subspecialties: [\"Skin Cancer Treatment\", \"Cosmetic Dermatology\", \"Pediatric Dermatology\"],\n    certifications: [\"American Board of Dermatology\", \"American Academy of Dermatology\", \"Mohs Surgery Certification\"],\n    yearsExperience: 8,\n    graduated: 2012,\n  },\n];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -220,
                -120
            ],
            "id": "78b8724e-5724-4be4-85dd-cc2f906b3828",
            "name": "Code"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.specialty }}",
                                        "rightValue": "Dentist",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "4037768c-4dc3-48e9-a92a-466358c32877"
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "b3737f10-6fab-4638-af85-ed9ad66b6998",
                                        "leftValue": "={{ $json.specialty }}",
                                        "rightValue": "Optometrist",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "594edd58-0a12-4070-b824-139c0f7c54b3",
                                        "leftValue": "={{ $json.specialty }}",
                                        "rightValue": "Dermatologist",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            }
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.2,
            "position": [
                60,
                -120
            ],
            "id": "1067fc67-cb96-411b-a811-53588ecbe7aa",
            "name": "Switch"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "gpt-4o-mini",
                    "mode": "list",
                    "cachedResultName": "gpt-4o-mini"
                },
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.2,
            "position": [
                500,
                -60
            ],
            "id": "f213777e-0526-4511-8eae-a0d717d50108",
            "name": "OpenAI Chat Model",
            "credentials": {
                "openAiApi": {
                    "id": "JX7XZLCcCrOdzZjY",
                    "name": "OpenAi account 2"
                }
            }
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=",
                "options": {
                    "systemMessage": "=You are Dr. Sarah Johnson, a licensed dentist with 12 years of experience practicing general dentistry in New York. You specialize in cosmetic dentistry, root canal therapy, and oral surgery. You are DDS certified and a member of the American Dental Association.\n\n# Your Role:\n\nProvide dental health advice and information\nHelp patients understand dental procedures and treatments\nOffer preventive care guidance\nExplain dental conditions in accessible language\nRecommend appropriate dental care routines\n\n# Your Expertise:\n\nGeneral dentistry and oral health\nCosmetic dental procedures (veneers, whitening, bonding)\nRoot canal therapy and endodontic treatments\nMinor oral surgery procedures\nPreventive dental care and hygiene\nDental emergencies and pain management\n\n# Communication Style:\n\nProfessional but warm and reassuring\nPatient-focused and empathetic\nUse clear, non-technical language when explaining procedures\nAlways emphasize the importance of regular dental checkups\nProvide practical, actionable advice\n\n# Important Guidelines:\n\nAlways recommend patients see a dentist in person for diagnosis\nDo not attempt to diagnose serious conditions remotely\nRefer complex cases to specialists when appropriate\nEmphasize preventive care and oral hygiene\nBe sensitive to dental anxiety and patient concerns"
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2,
            "position": [
                660,
                -420
            ],
            "id": "c0b71671-6874-48a1-aebb-b3aa545d4073",
            "name": "Dr. Sarah Johnson"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2,
            "position": [
                660,
                -140
            ],
            "id": "8ca866ba-572f-4337-b5c9-905c05e66e60",
            "name": "Dr. Michael Chen"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2,
            "position": [
                660,
                120
            ],
            "id": "c155e560-52ed-4008-97dc-4affd865349f",
            "name": "Dr. Emily Rodrigue"
        },
        {
            "parameters": {},
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                780,
                -260
            ],
            "id": "4532a9fd-bcd0-4354-957f-1626a7fb0f06",
            "name": "Simple Memory"
        },
        {
            "parameters": {},
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                760,
                0
            ],
            "id": "bb54727e-b1e5-4cd1-93e7-330c839066c4",
            "name": "Simple Memory1"
        },
        {
            "parameters": {},
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                780,
                320
            ],
            "id": "581d006f-3bf7-4ee9-a0b2-49940d20af87",
            "name": "Simple Memory2"
        }
    ],
    "connections": {
        "When clicking ‘Execute workflow’": {
            "main": [
                []
            ]
        },
        "Code": {
            "main": [
                [
                    {
                        "node": "Switch",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch": {
            "main": [
                [
                    {
                        "node": "Dr. Sarah Johnson",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Dr. Michael Chen",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Dr. Emily Rodrigue",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Dr. Sarah Johnson",
                        "type": "ai_languageModel",
                        "index": 0
                    },
                    {
                        "node": "Dr. Michael Chen",
                        "type": "ai_languageModel",
                        "index": 0
                    },
                    {
                        "node": "Dr. Emily Rodrigue",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Dr. Sarah Johnson": {
            "main": [
                []
            ]
        },
        "Simple Memory": {
            "ai_memory": [
                [
                    {
                        "node": "Dr. Sarah Johnson",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Simple Memory1": {
            "ai_memory": [
                [
                    {
                        "node": "Dr. Michael Chen",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Simple Memory2": {
            "ai_memory": [
                [
                    {
                        "node": "Dr. Emily Rodrigue",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "6844007e08ea69919323bc6369697bd549ed2a58ecfdbeb84c57881cdbf26ef4"
    }
}